<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!--        <?xml version="1.0" encoding="UTF-8"?>-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<display-name>hgsc-fhir-client Web Application</display-name>
<servlet>
  <servlet-name>FileUploadServlet</servlet-name>
  <servlet-class>com.hgsc.fhir.FileUploadServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>FileUploadServlet</servlet-name>
  <url-pattern>/fileupload</url-pattern>
</servlet-mapping>
</web-app>
